@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

body {
    background: aquamarine;
    font-family: 'Noto Sans SC', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
}

input, label, #output-box {
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: none;
}

input {
    margin-bottom: 0.5rem;
    width: 50%;
    border-radius: 1rem;
    font-size: 1.5rem;
}

label, #output-box {
    font-size: 1.5rem;
}

#check-number {
    display: block;
    margin-top: 1rem;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: transparent;
    background-color: turquoise;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Noto Sans SC', sans-serif;
}

